<% if current_user %>

	<button class="button main-button huge primary start-button">Start</button>
	<button class="button main-button huge working-button">Working...</button>
	<button class="button main-button huge relaxing-button">Relaxing...</button>

  <% if @pomodoris %>
	  <section class="pomodoro-list-container">
			<%= render 'pomodoris/today' %>
	  </section>
	<% end %>

	<progress value="0" max="100" class="timer-progress" id="timer-progress">0%</progress>
	<div class="visible-progress-value">25:00</div>

	<audio id="audio-ding">
	  <source src="/assets/ding.mp3" type="audio/mpeg">
	</audio>

<% else %>
			<section class="dialog login">
				<header>
					<h1>Login</h1>
				</header>
				<div class="dialog-content">
  				<%= link_to '<i class="fa fa-github-alt"></i> Sign in with Github'.html_safe, '/auth/github', :class =>"button inverse" %>
				</div>
			</section>
<% end %>

<script type="text/template" id="pomodoro-template">
		<strong>Pomodoro <span class="pomodoro-id">#{{ id }}</span></strong>
		- <span class="pomodoro-created-at">{{ created_at_fmt }}</span>
		- <span class="pomodoro-finished-at">{{ finished_at_fmt }}</span>
		- <strong>Tags:</strong> <span class="pomodoro-tags-container">{{ joinedtags }}</span>
</script>
