<h1>Stats</h1>

<div id="most_used" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>

<div id="count_last_month" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>

<script>
function loadScript( url, callback ) {
  var script = document.createElement( "script" )
  script.type = "text/javascript";
  script.onload = function() {
    callback();
  };

  script.src = url;
  document.getElementsByTagName( "head" )[0].appendChild( script );
}


loadScript("https://code.highcharts.com/highcharts.js", function() {
  $('#most_used').highcharts({
      chart: {
          plotBackgroundColor: null,
          plotBorderWidth: 1,
          plotShadow: false
      },
      title: {
          text: 'Most used pomodoro tag names'
      },
      tooltip: {
          pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
      },
      plotOptions: {
          pie: {
              allowPointSelect: true,
              cursor: 'pointer',
              dataLabels: {
                  enabled: true,
                  format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                  style: {
                      color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                  }
              }
          }
      },
      series: [{
          type: 'pie',
          name: 'Tag',
          data: <%= raw @tag_names %>
      }]
  });

  $('#count_last_month').highcharts({
      chart: {
            type: 'spline'
        },
        title: {
            text: 'Pomodori & Tag count per date'
        },
        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: {
                day: '%e. %b'
            },
            title: {
                text: 'Date'
            }
        },
        yAxis: {
            title: {
                text: 'Pomodoris done'
            },
            min: 0
        },
        tooltip: {
            pointFormat: '{point.y}'
        },

        series: [{
            name: "Pomodoris",
            data: <%= raw @pomodori_counts %>
            }, {
            name: "Tags",
            data: <%= raw @tag_counts %>
        }]
  });
});

</script>
