<% if current_user %>

	<button class="button main-button huge primary start-button">Start</button>
	<button class="button main-button huge working-button">Working...</button>
	<button class="button main-button huge relaxing-button">Relaxing...</button>

  <% if @pomodoris %>
	  <section class="pomodoro-list-container">
			<h1>Today:</h1>
	  	<ul>
			<% @pomodoris.each do |pomodoro| %>
			<% if pomodoro.finished_at %>
				<li><strong>Pomodoro #<%= pomodoro.id %></strong> - Finished on <%= pomodoro.finished_at.strftime("%B %d at %I:%M %p") %> - <%= link_to '<i class="fa fa-edit"></i> Edit tags'.html_safe, "#edit_tags", :class => "edit_tags button small" %> </li>
			<% end %>
			<% end %>
	  	</ul>
	  </section>
	<% end %>

	<progress value="0" max="100" class="timer-progress" id="timer-progress">0%</progress>
	<div class="visible-progress-value">25:00</div>

	<audio id="audio-ding">
	  <source src="/assets/ding.mp3" type="audio/mpeg">
	</audio>

<% else %>
			<section class="dialog login">
				<header>
					<h1>Login</h1>
				</header>
				<div class="dialog-content">
  				<%= link_to '<i class="fa fa-github-alt"></i> Sign in with Github'.html_safe, '/auth/github', :class =>"button inverse" %>
				</div>
			</section>
<% end %>
