
<% if current_user %>

	<button class="button huge primary start-button">Start</button>

	<progress value="22" max="100" class="timer-progress">22%</progress>
	<div class="visible-progress-value">23:06</div>

<% else %>
			<section class="dialog login">
				<header>
					<h1>Login</h1>
				</header>
				<div class="dialog-content">
  				<%= link_to '<i class="fa fa-github-alt"></i> Sign in with Github'.html_safe, '/auth/github', :class =>"button inverse" %>
				</div>
			</section>
<% end %>