<% if current_user %>

	<button class="button huge primary start-button">Start</button>

  <% if @pomodoris %>
		Showing last 5 pomodori: <br />
		<% @pomodoris.each do |pomodoro| %>
			Pomodoro #<%= pomodoro.id %> - Finished on <%= pomodoro.finished_at.strftime("%B %d at %I:%M %p") %> - <%= link_to "Edit tags", "#edit_tags", :class => "edit_tags" %> <br />
		<% end %>
	<% end %>

	<progress value="0" max="100" class="timer-progress" id="timer-progress">0%</progress>
	<div class="visible-progress-value">0%</div>

	<audio id="audio-ding">
	  <source src="/assets/ding.mp3" type="audio/mpeg">
	</audio>

<% else %>
			<section class="dialog login">
				<header>
					<h1>Login</h1>
				</header>
				<div class="dialog-content">
  				<%= link_to '<i class="fa fa-github-alt"></i> Sign in with Github'.html_safe, '/auth/github', :class =>"button inverse" %>
				</div>
			</section>
<% end %>
