/* === LOGIN BAR */
/* ========================== */

// Imports:
@import "compass/css3";

.login-bar {
	position: absolute;
	top: $gutter;
	right: $gutter;
	font-size: .8em;

	.logout-button {
		margin-left: .5em;
	}

	img.user-image {
		display: inline-block;
		width: 20px;
		height: auto;
		position: relative;
		top: 4px;
		margin-right: .4em;
		@include border-radius(3px);
	}
}