/* === NOTICE */
/* ========================== */

// Imports:
@import "compass/css3";

.notice {
	background: $light_yellow;
	padding: ($gutter/2) $gutter;
	//width: 50%;
	//margin: 0 auto;
	position: absolute;
	top: 0;
	left: 25%;
	right: 25%;
	@include border-radius(0 0 $global_border_radius $global_border_radius);
}