/* === NAVIGATION */
/* ========================== */

// Imports:
@import "compass/css3";


.pomodoro-list-container {
	background: lighten($light_grey, 6%);
	width: 50%;
	margin: 0 auto;
	padding: ($gutter/2);
	font-size: .8em;
	h1 {
		background: $light_grey;
		padding: ($gutter/2);
		margin: (-$gutter/2) (-$gutter/2) 1em (-$gutter/2);
	}
	ul {
		li {
			margin: .5em 0 .5em 1em;
			list-style-type: square;
		}
	}
}