/* === NAVIGATION */
/* ========================== */

// Imports:
@import "compass/css3";


.pomodoro-list-container {
	width: 50%;
	margin: 0 auto;
	font-size: .8em;
	h1 {
		font-size: 1.5em;
		text-transform: uppercase;
		margin: .5em 0;
	}
	ul {
		margin: .5em 0;
		padding: 1em 0;
		border-top: 3px solid $light_grey;
		border-bottom: 3px solid $light_grey;
		li {
			margin: .5em 0;
		}
	}
}