/* === PROGRESS */
/* ========================== */

// Imports:
@import "compass/css3";


// Progress bar
progress, progress[role] {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	border: none;
	background-size: auto;
	width: 100%;
	height: $progress_bar_height;
	display: block;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
}
progress[role]:after {
	background-image: none;
}
progress[role] strong {
	display: none;
}
progress, progress[role][aria-valuenow] { 
   background: $light_grey !important;
}
progress::-webkit-progress-bar {
    background: $light_grey;
}

// Progress value
progress {
    color: $sky_blue;
}
progress::-moz-progress-bar { 
    background: $sky_blue;	
}
progress::-webkit-progress-value {
    background: $sky_blue;
}
progress[aria-valuenow]:before  {
    background: $sky_blue;
}
body.break {
	progress {
	    color: $green;
	}
	progress::-moz-progress-bar { 
	    background: $green;	
	}
	progress::-webkit-progress-value {
	    background: $green;
	}
	progress[aria-valuenow]:before  {
	    background: $green;
	}
}

// Indeterminate value
progress:not([value])::-moz-progress-bar { 
  background-image:  url(../images/indeter.gif);	
}
progress:not([value])::-webkit-progress-bar {
  background-image:  url(../images/indeter.gif);	
}
progress[role]{
	background-image: url(../images/indeter.gif) !important;
}
progress:not([value])  {
	background-image: url(../images/indeter.gif) !important;
	background-size: auto;  /* Needs to be in here for Safari */
}

// Visible progress value (not the <progress> tag)
.visible-progress-value {
	color: #000;
	display: block;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 102;
	@include font-lato-bold;
	text-align: center;
	font-size: 3em;
	padding-bottom: .8em;
}

#audio-ding {
	display: none;
}