/* === FORMS */
/* ========================== */


label {
	@include font-lato-normal;
	margin-top: 1em;
	margin-bottom: .2em;
	display: block;
	text-transform: uppercase;
}
.text-input {
	display: block;
	border: none;
	background: $light_grey;
	padding: 10px;
	width: 100%;
	@include border-radius($global_border_radius);
	font-size: 1em;
	margin-top: .5em;
	margin-bottom: .5em;
	@include box-shadow(rgba(#000,.1) 0 1px 2px inset);
	&:focus {
		background: lighten($light_grey, 5%);
	}
}
.form-error {
	background: $orange;
	padding: 10px 20px;
	margin-top: 2em;
	margin-bottom: 2em;
	@include border-radius(24px);
	border: 5px solid lighten($magenta, 20%)
}
.form-success {
	color: #fff;
	@include font-lato-normal;
	font-size: 1.5em;
}
.form-actions {
	margin-top: 2em;
}