/* === BASIC */
/* ========================== */

// Imports:
@import "compass/css3";

/* Eric Meyer's reset */
@import "compass/reset";
/* End E.M. reset */

* {
	margin: 0;
	padding: 0;
	@include box-sizing(border-box);
}
body {
	color: #000;
	background: #fff;
	padding-bottom: $progress_bar_height;
}
#main {
	position: relative;

	padding-top: $gutter; // space, and so that margins don't overflow.
}
.hidden {
  display: none;
}